body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #010000, #14024e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 35px;
    background: linear-gradient(135deg, #010000, #080808);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.login-box, .register-box {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #444;
    color: white;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a, .login-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
